<%- include('../layouts/main', { pageTitle }) %>
<main class="error-view">
  <h1>404</h1>
  <p>Ups! Nie znaleziono strony, której szukasz.</p>
  <a class="btn btn--primary" href="/dashboard">Wróć do pulpitu</a>
</main>
<%- include('../partials/footer') %>
